<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyh.xfs.job.mapper.user.UserMapper">

    <resultMap id="BaseResultMap" type="com.yyh.xfs.user.domain.UserDO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="uid" column="uid" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="TINYINT"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="selfIntroduction" column="self_introduction" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="homePageBackground" column="home_page_background" jdbcType="VARCHAR"/>
        <result property="occupation" column="occupation" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="wxOpenId" column="wx_open_id" jdbcType="VARCHAR"/>
        <result property="qqOpenId" column="qq_open_id" jdbcType="VARCHAR"/>
        <result property="facebookOpenId" column="facebook_open_id" jdbcType="VARCHAR"/>
        <result property="accountStatus" column="account_status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="updateUser" parameterType="com.yyh.xfs.user.domain.UserDO">
        update user
        <set>
            <if test="area != null">area = #{area},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="homePageBackground != null">home_page_background = #{homePageBackground},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="selfIntroduction != null">self_introduction = #{selfIntroduction},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
        </set>
        where id = #{id}
    </update>
</mapper>
